html{
    padding:0;
    margin:0;
}
body{
    background-color: rgb(187, 241, 187);
}
.content{
    width:1000px;
    position:relative;
    margin:auto;
}
td { 
    height: 170px; 
    width: 170px; 
    color:rgb(165, 86, 86);
    background-color: rgb(144, 190, 101); 
    opacity:1;
    text-align:center; 
    font-size: 90px
}
td:hover{
    opacity : 0.70;

}
img{
    height:100px;
}
table{
    margin:auto;
    border:3px solid rgb(57, 129, 57);
}
input{
    position: absolute;
    top:85%;
    right:0%;
    font-size: 35px;
    background-color: rgba(165, 86, 86,0.6);
    color:white;
    border-radius: 5px;
    border: 2px double rgba(165, 86, 86,0.8);
    cursor: pointer;
}
input:hover{
    font-size: 45px;
}
h1{
    font-size: 60px;
    line-height: 60px;
    color:rgb(201, 104, 104);
    text-align: center;
    animation-name: title;
    animation-duration: 5s;
}
@keyframes title{
    0%{
        font-size: 60px;
        line-height: 60px;
        color:rgb(144, 190, 101);
    }
    50%{
        font-size: 80px;
        line-height: 80px;

    }
    100%{
        font-size: 60px;
        line-height: 60px;
        color:rgb(201, 104, 104);
    }
}
@media all and (max-width:1000px){

    .content{
        width:430px;
        margin:auto;
    }
    input{
        top:105%;
        right:28.5%;
    }
    td { 
        height: 140px; 
        width: 140px; 

    }
    img{
        height:70px;
    }
    h1{
        font-size: 50px;
        line-height: 50px;

    }
    @keyframes title{
        0%{
            font-size: 50px;
            line-height: 50px;
        }
        50%{
            font-size: 60px;
            line-height: 60px;
    
        }
        100%{
            font-size: 50px;
            line-height: 50px;

        }
    }
    input:hover{
        font-size: 35px;
    }
}